
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, 'Montserrat';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* NAVBAR */

.NavbarUl{
  display: flex;
  position: fixed;
  background-color: #333;
  overflow: hidden;
  justify-content: space-between;
  width: 100vw; 
  z-index: 10;
  align-items: center;
  align-content: centers;
}

.NavbarLi{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 1s;
}

.NavbarLi:hover{
  text-decoration: underline;
  color: white;
}

.view-btn{
  border-radius: 40px;
  margin-bottom: 1rem;
  color: white;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 2rem;
}



/* HOME */

.home-container {
  margin: 0 auto;
/*   padding: 1rem 2rem 2rem 2rem; */
  text-align: center;
}

.home-header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-image: url('https://i.ibb.co/6gWtQX3/hotel-front.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}



/* EXP */

.experiences-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suites-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5rem 0;
}

.card{
  padding: 2em;
  max-width: 400px;
}

.card-btm{
  background-color: #F2F3EB;
  color: #474544;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 2rem 2rem 2rem;
}

.card-title{
  padding: 1px 24px 5px;
}

.card-txt{
  padding: 30px 0;
}

.card-img{
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


/* RESTAURANT */

.restaurant-container{
  display: flex;
  background-color: #F2F3EB;
  color: #474544;
  justify-content: center;
  align-items: center;
}

.restaurant-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.restaurant-img{
  width: 25vw;
  height: 50vh;
  margin-left: 1.5rem;
}

.restaurant-txt p {
  word-wrap: break-word;
  width: 450px
}


/* GALLERY */

.gallery-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gallery-wrap {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 5rem 0;
  gap: 1rem 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "gallery-img-container gallery-img-container2 gallery-img-container3"
    "gallery-img-container4 gallery-img-container5 gallery-img-container6"
    "gallery-img-container7 gallery-img-container8 gallery-img-container9";
}

.gallery-img-container { grid-area: gallery-img-container; }

.gallery-img-container2 { grid-area: gallery-img-container2; }

.gallery-img-container3 { grid-area: gallery-img-container3; }

.gallery-img-container4 { grid-area: gallery-img-container4; }

.gallery-img-container5 { grid-area: gallery-img-container5; }

.gallery-img-container6 { grid-area: gallery-img-container6; }

.gallery-img-container7 { grid-area: gallery-img-container7; }

.gallery-img-container8 { grid-area: gallery-img-container8; }

.gallery-img-container9 { grid-area: gallery-img-container9; }

.gallery-img{
  width: 20vw;
  height: 40vh;
}


/* CONTACT */

.contact-container{
  width: 100%;
  background-color: #F2F3EB;
  font-family: 'Montserrat';
  padding: 1rem;
}

.contact-form-container{
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

.contact-h1{
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline{
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon-wrap{
  margin: 50px auto 0;
  width: 100%;
}

.contact-form{
  padding: 37.5px;
  margin: 50px 0 20px 0;
  color: black;
}

.name{
  float: left;
  width: 45%;
}

.email{
  float: right;
  width: 45%;
}

.stay{
  width: 100%;
  margin-top: 6rem;
}

.contact-input{
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
}

.contact-textarea{
  overflow: auto;
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
  resize: none;
}


.form-btn{
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.form-btn:hover{
  background: #474544;
  color: #F2F3EB;
}

.contact-input:focus, .contact-textarea:focus{
  outline: none;
	padding: 0 0 0.875em 0;
}


/* QUERIES */

.hide{
  display: none;
}